# ignore log files
log/debugal.*
log/debugca.*
log/history.*

# ignore compiled files
*.qof
*.o
Alma/alma
BerkeleyParser/parser
Carne/carne
LinkParser/parse
UI/getutterance
UI/obj/*

# ignore temp backup files
*~

# ignore user setting files
etc/*
